@import "tailwindcss";

@theme {
  --color-sanpatricio-primary: #0ea5e9;
  --color-sanpatricio-secondary: #171717;
  --color-sanpatricio-light: #e0f2fe;
}

body {
  background-color: #f9fafb; /* bg-gray-50 */
  color: #111827; /* text-gray-900 */
}
