@import "tailwindcss";

@theme {
  --color-sanpatricio-primary: #064e3b;
  --color-sanpatricio-secondary: #facc15;
  --color-sanpatricio-light: #d1fae5;
}

body {
  background-color: #f9fafb; /* bg-gray-50 */
  color: #111827; /* text-gray-900 */
}
